<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
      <el-form-item label="商品标题" prop="title">
        <el-input
          v-model="queryParams.title"
          placeholder="请输入商品标题"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="一级分类" prop="categoryLevelOne">
        <el-input
          v-model="queryParams.categoryLevelOne"
          placeholder="请输入一级分类"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="二级分类" prop="categoryLevelTwo">
        <el-input
          v-model="queryParams.categoryLevelTwo"
          placeholder="请输入二级分类"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="三级分类" prop="categoryLevelThree">
        <el-input
          v-model="queryParams.categoryLevelThree"
          placeholder="请输入三级分类"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="商品状态 " prop="state">
        <el-select v-model="queryParams.state" placeholder="请选择商品状态 " clearable>
          <el-option
            v-for="dict in dict.type.goods_state"
            :key="dict.value"
            :label="dict.label"
            :value="dict.value"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="最低价" prop="lowestPrice">
        <el-input
          v-model="queryParams.lowestPrice"
          placeholder="请输入最低价"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          plain
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['tpatmoc:goods:add']"
        >新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          plain
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="handleUpdate"
          v-hasPermi="['tpatmoc:goods:edit']"
        >修改</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          plain
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-hasPermi="['tpatmoc:goods:remove']"
        >删除</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="warning"
          plain
          icon="el-icon-download"
          size="mini"
          @click="handleExport"
          v-hasPermi="['tpatmoc:goods:export']"
        >导出</el-button>
      </el-col>
      <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
    </el-row>

    <el-table v-loading="loading" :data="goodsList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="商品id" align="center" prop="id" />
      <el-table-column label="商品标题" align="center" prop="title" />
      <el-table-column label="一级分类" align="center" prop="categoryLevelOne" />
      <el-table-column label="二级分类" align="center" prop="categoryLevelTwo" />
      <el-table-column label="三级分类" align="center" prop="categoryLevelThree" />
      <el-table-column label="商品状态 " align="center" prop="state">
        <template slot-scope="scope">
          <dict-tag :options="dict.type.goods_state" :value="scope.row.state"/>
        </template>
      </el-table-column>
      <el-table-column label="最低价" align="center" prop="lowestPrice" />
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['tpatmoc:goods:edit']"
          >修改</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['tpatmoc:goods:remove']"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改商品对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="商品标题" prop="title">
          <el-input v-model="form.title" placeholder="请输入商品标题" />
        </el-form-item>
        <el-form-item label="一级分类" prop="categoryLevelOne">
          <el-input v-model="form.categoryLevelOne" placeholder="请输入一级分类" />
        </el-form-item>
        <el-form-item label="二级分类" prop="categoryLevelTwo">
          <el-input v-model="form.categoryLevelTwo" placeholder="请输入二级分类" />
        </el-form-item>
        <el-form-item label="三级分类" prop="categoryLevelThree">
          <el-input v-model="form.categoryLevelThree" placeholder="请输入三级分类" />
        </el-form-item>
        <el-form-item label="商品状态 " prop="state">
          <el-select v-model="form.state" placeholder="请选择商品状态 ">
            <el-option
              v-for="dict in dict.type.goods_state"
              :key="dict.value"
              :label="dict.label"
:value="dict.value"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="最低价" prop="lowestPrice">
          <el-input v-model="form.lowestPrice" placeholder="请输入最低价" />
        </el-form-item>
        <el-divider content-position="center">商品详细信息</el-divider>
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button type="primary" icon="el-icon-plus" size="mini" @click="handleAddGoodDetail">添加</el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button type="danger" icon="el-icon-delete" size="mini" @click="handleDeleteGoodDetail">删除</el-button>
          </el-col>
        </el-row>
        <el-table :data="goodDetailList" :row-class-name="rowGoodDetailIndex" @selection-change="handleGoodDetailSelectionChange" ref="goodDetail">
          <el-table-column type="selection" width="50" align="center" />
          <el-table-column label="序号" align="center" prop="index" width="50"/>
          <el-table-column label="型号id" prop="modelId" width="150">
            <template slot-scope="scope">
              <el-input v-model="scope.row.modelId" placeholder="请输入型号id" />
            </template>
          </el-table-column>
          <el-table-column label="价格" prop="price" width="150">
            <template slot-scope="scope">
              <el-input v-model="scope.row.price" placeholder="请输入价格" />
            </template>
          </el-table-column>
          <el-table-column label="颜色" prop="color" width="150">
            <template slot-scope="scope">
              <el-input v-model="scope.row.color" placeholder="请输入颜色" />
            </template>
          </el-table-column>
          <el-table-column label="规格" prop="storage" width="150">
            <template slot-scope="scope">
              <el-input v-model="scope.row.storage" placeholder="请输入规格" />
            </template>
          </el-table-column>
          <el-table-column label="库存数量" prop="stock" width="150">
            <template slot-scope="scope">
              <el-input v-model="scope.row.stock" placeholder="请输入库存数量" />
            </template>
          </el-table-column>
          <el-table-column label="状态" prop="state" width="150">
            <template slot-scope="scope">
              <el-select v-model="scope.row.state" placeholder="请选择状态">
                <el-option
                  v-for="dict in dict.type.goods_detail_state"
                  :key="dict.value"
                  :label="dict.label"
                  :value="dict.value"
                ></el-option>
              </el-select>
            </template>
          </el-table-column>
        </el-table>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listGoods, getGoods, delGoods, addGoods, updateGoods } from "@/api/tpatmoc/goods";

export default {
  name: "Goods",
  dicts: ['goods_state', 'goods_detail_state'],
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 子表选中数据
      checkedGoodDetail: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 商品表格数据
      goodsList: [],
      // 商品详细表格数据
      goodDetailList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        title: null,
        categoryLevelOne: null,
        categoryLevelTwo: null,
        categoryLevelThree: null,
        state: null,
        lowestPrice: null
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        title: [
          { required: true, message: "商品标题不能为空", trigger: "blur" }
        ],
        state: [
          { required: true, message: "商品状态 不能为空", trigger: "change" }
        ],
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 查询商品列表 */
    getList() {
      this.loading = true;
      listGoods(this.queryParams).then(response => {
        this.goodsList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        title: null,
        categoryLevelOne: null,
        categoryLevelTwo: null,
        categoryLevelThree: null,
        state: null,
        lowestPrice: null
      };
      this.goodDetailList = [];
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加商品";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids
      getGoods(id).then(response => {
        this.form = response.data;
        this.goodDetailList = response.data.goodDetailList;
        this.open = true;
        this.title = "修改商品";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          this.form.goodDetailList = this.goodDetailList;
          if (this.form.id != null) {
            updateGoods(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addGoods(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('是否确认删除商品编号为"' + ids + '"的数据项？').then(function() {
        return delGoods(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
	/** 商品详细序号 */
    rowGoodDetailIndex({ row, rowIndex }) {
      row.index = rowIndex + 1;
    },
    /** 商品详细添加按钮操作 */
    handleAddGoodDetail() {
      let obj = {};
      obj.modelId = "";
      obj.price = "";
      obj.info = "";
      obj.color = "";
      obj.storage = "";
      obj.stock = "";
      obj.state = "";
      this.goodDetailList.push(obj);
    },
    /** 商品详细删除按钮操作 */
    handleDeleteGoodDetail() {
      if (this.checkedGoodDetail.length == 0) {
        this.$modal.msgError("请先选择要删除的商品详细数据");
      } else {
        const goodDetailList = this.goodDetailList;
        const checkedGoodDetail = this.checkedGoodDetail;
        this.goodDetailList = goodDetailList.filter(function(item) {
          return checkedGoodDetail.indexOf(item.index) == -1
        });
      }
    },
    /** 复选框选中数据 */
    handleGoodDetailSelectionChange(selection) {
      this.checkedGoodDetail = selection.map(item => item.index)
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('tpatmoc/goods/export', {
        ...this.queryParams
      }, `goods_${new Date().getTime()}.xlsx`)
    }
  }
};
</script>
