<template>
  <div>
    <p>默认账号密码tpatmoc,123456</p>
    <i-frame :src="url" />
  </div>

</template>
<script>
import iFrame from "@/components/iFrame/index";
export default {
  name: "Druid",
  components: { iFrame },
  data() {
    return {
      url: process.env.VUE_APP_BASE_API + "/druid/login.html"
    };
  },
};
</script>
