<template>
  <div class="block">
    <el-carousel height="630px">
      <el-carousel-item v-for="item in items" :key="item">
        <img :src="item.img" alt="">
      </el-carousel-item>
    </el-carousel>
  </div>
</template>

<script>

export default {
  data(){
    return{
      items:[
        {img:require("../assets/images/sum1.jpg")},
        {img:require("../assets/images/sum2.jpg")},
        {img:require("../assets/images/sum3.jpg")},
        {img:require("../assets/images/sum4.jpg")},
        {img:require("../assets/images/sum5.jpg")},
        {img:require("../assets/images/sum6.jpg")},
        ]
    }
  }
}
</script>

<style>
.block{
  height: 100%;
}
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
     background-color: #99a9bf;
  }
  
  .el-carousel__item:nth-child(2n+1) {
     background-color: #d3dce6;
  }
</style>